.form-Container{
    height: fit-content;
    width:100%;
    text-align: left;
    font-weight: bold;
    font-size: large;
    /* padding-left: 100px; */
    border: ridge;
    border-radius: 2px;
    background-color: rgb(24, 152, 212);
}
label,p,#submit{
    margin-left:40%;
}
.form-grid-Container{
    margin-top: 10px;
    display: grid;
    height: fit-content;
    width:100%;
    padding: 10px;
    grid-template-columns: 50% 50%;
    font-weight: bold;
    font-size: large;
    border: ridge;
    border-radius: 2px;
    background-color: rgb(24, 152, 212);
}
.col1{
    text-align: right;
    padding: 10px;
}
.col2{
    padding: 10px;
    width: fit-content;
    border: ridge;
    border-color: greenyellow;
}